.content {
  display: flex;
  align-content: center;
}

.welcomeMessage {
  border-width: 2px;
  border-color: grey;
  border-style: solid;
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
  font-family: "Avenir Next";
}

img {
  opacity: 0.7;
  max-width: 100%;
  max-height: 100%;
}
